.ytp-chrome-controls {
    text-align: center;
}

._youtube-tracks_controls {
    display: inline-flex;
}

._youtube-tracks_controls__track-label {
    width: 200px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
